<header>
    <nav role="navigation">
        <div class="logo-section">
            <a href="/">
                <img src="/assets/images/MTBWA_logo[light].png" alt="MTBWA Logo" class="logo-image">
            </a>
        </div>
        <ul class="nav-menu">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/certification">Coach Certification</a>
            </li>
            <li>
                <a href="/trails/">Trails & Riding</a>
                <ul class="dropdown">
                    <li><a href="/trails/map/trailswa.html">Trails WA Map</a></li>
                    <li><a href="/trails/map/trailforks.html">Trailforks Map</a></li>
                    <li><a href="/trails/videos">Trail Videos</a></li>
                </ul>
            </li>
            <li>
                <a href="/community">Local Community</a>
                <ul class="dropdown">
                    <li><a href="/community#community-groups">Community Groups</a></li>
                    <li><a href="/community#local-organisations">Local Organisations</a></li>
                    <li><a href="/community#group-rides">Group Rides</a></li>
                    <li><a href="/community#womens-mtb">Women's MTB</a></li>
                    <li><a href="/community#shuttle-companies">Shuttle Companies</a></li>
                    <li><a href="/community#tours-transfers">Tours / Transfers</a></li>
                    <li><a href="/community#coaching">Coaching</a></li>
                    <li><a href="/community#bike-rental">Bike Rental / Hire / Demos</a></li>
                    <li><a href="/community#racing">Racing</a></li>
                    <li><a href="/community#government-bodies">Government Bodies</a></li>
                    <li><a href="/community#media">Media</a></li>
                    <li><a href="/community#products">Products</a></li>
                    <li><a href="/community#mtb-accommodation">MTB Accommodation</a></li>
                    <li><a href="/community#mtb-bike-shops">MTB Bike Shops</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
